
    // Main project color
    $main-color: #4169e1
    $main-white: #ffffff
    $main-gray: #282C35
    $main-gradient: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,178,252,1) 100%)

    // Project font

    @font-face 
        font-family: Inter
        src: url('../assets/fonts/Inter-VariableFont.ttf') format("truetype")

    $font: Inter

    // useful variables

    $margin: 2em
