@import ../../sass/variables

.about
    margin: $margin
    .container
        background-color: rgba(40, 44, 53, 0.5)
        color: $main-white
        .container__about
            padding: $margin