<section class="about sectionContent">
    <div class="container">
        <div class="container__about" id="aboutContainer">
            <div class="about__title" id="aboutHeader">
                <h1><b>About me:</b></h1>
            </div>

            <div class="about__content" id="aboutContent">
                <div class="content__bio" id="aboutBio">
                <p>Hi, my name is Dominik, and i'm constantly developing in order to become a professional Web developer. 
                    Im in touch with the programming for quite some years already, and some time ago i've decided that i want to create Websites 
                    from both frontend side and backend side.
                </p>
                </div>
                <div class="content__contact" id="aboutContact">
                    <h4>Contact:</h4>
                    <p class="contact__mail"><i class="far fa-envelope"></i>dbak_dev@protonmail.com</p>
                </div>                
            </div>

        </div>
    </div>
</section>
