<section class="home">
    <div class="container">
        <div class="presentation">
            <div class="presentation__text">
                <h1>Dominik Bak</h1>
                <strong>Web developer</strong>
                <div class="text__social">
                    <a href="https://www.linkedin.com/in/dominik-bak-79b04a151/" class="social" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/CertainlySomebody" class="social" target="_blank"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
            <div class="presentation__imageSelfie">
                <img src="../assets/images/selfie.jpg" alt="Selfie">
            </div>
        </div>
    </div>
</section>