@import ../../sass/_variables


.home
    

    .container
        display: flex
        align-items: center
        justify-content: center
        height: inherit

        .presentation
            display: flex
            align-items: center

            .text__social
                display: flex
                margin-top: 1em
                
                .social
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 1.5em
                    height: 1.5em
                    font-size: 2em
                    color: $main-gray
                    background-color: $main-white
                    margin: 0.2em
                    border-radius: 1.5em
                    transition: $transition
                
                .social:hover
                    background-color: $main-gray
                    color: $main-white
                    transition: $transition
                    rotate: 360deg
                    -webkit-transform: rotate(360deg)
                    -moz-transform: rotate(360deg)
                    -o-transform: rotate(360deg)


            h1
                line-height: 1.2

            .typeWriter
                overflow: hidden
                border-right: .15em solid white
                white-space: nowrap
                animation: typing 1s steps(30, end), blinkingCaret .75s step-end infinite
                


            strong
                text-transform: uppercase
                font-weight: bold
                b
                    color: $main-white
                    transition: $transition
                    cursor: pointer
                    
                b:hover
                    font-size: 1.5em
                    transition: $transition
                    
                
                        

            strong:hover
                color: black

            .presentation__text
                width: 283.45px
                margin-right: 4em

            .presentation__imageSelfie
                position: relative
                width: 16em
                height: 371px
                
                #presentationImage
                    opacity: 0
                    max-width: 16em
                    position: absolute
                    left: 6em
                    transition: $transition
                
                #presentationImage.show
                    opacity: 1
                    left: 0
                    transition: $transition
                    box-shadow: 0 0 10px 0
                    
                
                    

                ::after
                    content: ""
                    width: 100%
                    height: 100%
                    background-color: red
                    position: absolute
                    left: 10%
                    
                    


@media (max-width: 767px)
    .home
        height: unset

        .container

            .presentation
                margin-top: 2em
                flex-direction: column-reverse
                width: 100%

                .text__social
                    justify-content: center

                    .social
                        margin: 0.1em

                .presentation__text
                display: flex
                text-align: center

                h1
                    margin-top: 1em
                    font-size: 2em  
                    padding: 0
                    width: 100%

                .presentation__imageSelfie
                    img
                        max-width: 10em

            